@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "TT";
    src: url("/fonts/TT.woff2");
}

.TT {
    font-family: "TT";
}

.space {
    font-family: "Space Grotesk", sans-serif;
}